pre[class*="language-"] {
    background: #d3d3d3;
    color: #f8f8f2;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-shadow: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem !important;   /*  Smaller font size */
    line-height: 1.5;
}

code[class*="language-"] {
    font-size: 0.8rem;   /* Match the <pre> font size */
    line-height: 1.6;
    text-shadow: none;
    background: transparent;
}

pre[class*="language-"] .token,
code[class*="language-"] .token {
    text-shadow: none !important;
    background: transparent !important;
}
